{% extends "layout.html" %}

{% block title %}
    {{ username }}
{% endblock title %}

{% block main %}
    {% if follow_button == "follow"%}
        {# show a follow button that can be used to follow someone #}
        <form action="/follow/{{ username }}" method="POST">
            <button type="submit">Follow</button>
        </form>
        {# TODO: later replace this with a interactive js button #}
    {% elif follow_button == "unfollow" %}
        {# show unfolllow button that can be used to unfollow people #}
        <form action="/unfollow/{{ username }}" method="POST">
            <button type="submit">Unfollow</button>
        </form>
    {% elif follow_button == "follow back" %}
        {# show unfolllow button that can be used to unfollow people #}
        <form action="/follow/{{ username }}" method="POST">
            <button type="submit">Follow back</button>
        </form>
        {# TODO: later replace this with a interactive js button #}
    {# and if no such parameters were given dont show a follow or an unfollow button because it is themselves #}
    {% endif %}
    {# the rest will load anyways regardless of wether if the page is the users page or the page for anyone #}
    <div>
        <img class="avatar" src="/static/uploads/avatars/{{ avatar }}" alt="avatar">
        {{ username }}
        posts: {{ posts_count }}
        <a href="/{{ username }}/followings">followings: {{ followings }}</a>
        <a href="/{{ username }}/followers">followers: {{ followers }}</a>  
    </div>

    <!-- and here should somehow come their posts in a grid view -->
    {% if posts %}
    <table>
        {% for row in posts | batch(3) %}
            <tr>
                {% for post in row %}
                    <td>
                        <a href="/p/{{ post.picture }}"><img width="75%" src="/static/uploads/posts/{{ post.picture }}" alt="post"></a>
                        <span>{{ post.caption }}</span>
                    </td>
                {% endfor %}
            </tr> 
        {% endfor %}
    </table>    
    {% else %}
        <p>This user has not posted anything</p>
    {% endif %}

{% endblock main %} 