{% extends "layout.html" %}

{% block title %}
    Signup
{% endblock %}

{% block main %}    
    <form action="/signup" method="post" enctype="multipart/form-data">
        <input type="text" name="username" placeholder="Username">
        <br><br>
        <input type="email" name="email" placeholder="Email">
        <br><br>
        <input type="password" name="password" placeholder="Password">
        <br><br>
        <input type="password" name="re-password" placeholder="Re-enter password">
        <br><br>
        <input type="file" name="profile-picture" placeholder="Select your profile picture">
        <button type="submit">Signup</button>
    </form>
{% endblock %}